{% extends "index.html" %} {% load static %} {% block content %}
<section class="fh5co-narrow-content">
  <h1 class="fh5co-heading">Blog</h1>
  <p class="fh5co-lead">
    Insights on software engineering, startups, and personal growth.
  </p>

  <div class="row">
    {% for post in posts %}
    <div class="col-md-4 col-sm-6 animate-box">
      <article class="blog-entry">
        <a href="{% url 'blog_detail' post.slug %}" class="blog-img">
          <img
            src="{{ post.image.url }}"
            class="img-responsive"
            alt="{{ post.title }}"
          />
        </a>
        <div class="desc">
          <h3>
            <a href="{% url 'blog_detail' post.slug %}"> {{ post.title }} </a>
          </h3>
          <span>
            <small>{{ post.author }}</small> ·
            <small>{{ post.created_at|date:"M Y" }}</small>
          </span>
          <p>{{ post.excerpt }}</p>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}
