
{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>DM &mdash; Custom Software Development</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

  	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	-->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
	
	<!-- Animate.css -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Flexslider  -->
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}">
    <!-- Theme style  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'landing_page/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
	<div id="fh5co-page">
		<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
		<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

			<h1 id="fh5co-logo"><a href="{% url 'index' %}">DevMat</a></h1>
			<nav id="fh5co-main-menu" role="navigation">
				<ul>
					{% load static %}
					<li class="fh5co-active"><a href="{% url 'index' %}">Home</a></li>
					<li><a href="{% url 'medium' %}">Medium Posts</a></li>
					<li><a href="{% url 'portfolio' %}">Portfolio</a></li>
					<li><a href="{% url 'about' %}">About</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</nav>
			<div class="fh5co-footer">
				<p><small>&copy; 2016 Blend Free HTML5. All Rights Reserved.</span> <span>Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> </span> <span>Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></span></small></p>
				<ul>
					<li><a href="#"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
					<li><a href="#"><i class="icon-instagram"></i></a></li>
					<li><a href="#"><i class="icon-linkedin2"></i></a></li>
				</ul>
			</div>

		</aside>

		<div id="fh5co-main">
			<aside id="fh5co-hero" class="js-fullheight">
				<div class="flexslider js-fullheight">
					<ul class="slides">
					<li style="background-image: url('{% static "images/img_bg_1.jpg" %}');">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<h1>Intuitive, <strong></strong> We create IT strategies, provide consulting services.</h1>
					   					<h2>Revolutionize IT support with <a href="http://devmat.tech/" target="_blank">devmat.tech</a></h2>
											<p><a class="btn btn-primary btn-demo popup-vimeo" href="#"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url('{% static "images/img_bg_2.jpg" %}');">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<h1>User Experience Focused</h1>
											<h2>Revolutionize IT support with <a href="http://devmat.tech/" target="_blank">devmat.tech</a></h2>
											<p><a class="btn btn-primary btn-demo popup-vimeo" href="#"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				   	<li style="background-image: url('{% static "images/img_bg_3.jpg" %}');">
				   		<div class="overlay"></div>
				   		<div class="container-fluid">
				   			<div class="row">
					   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
					   				<div class="slider-text-inner">
					   					<h1>Designing Impactful Digital Products</h1>
											<h2>Revolutionize IT support with <a href="http://devmat.tech/" target="_blank">devmet.tech</a></h2>
											<p><a class="btn btn-primary btn-demo popup-vimeo" href="#"> <i class="icon-monitor"></i> Live Preview</a> <a class="btn btn-primary btn-learn">Learn More<i class="icon-arrow-right3"></i></a></p>
					   				</div>
					   			</div>
					   		</div>
				   		</div>
				   	</li>
				  	</ul>
			  	</div>
			</aside>
			
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Services</h2>
				<div class="row">
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-settings"></i>
							</div>
							<div class="fh5co-text">
								<h3>Our Top 5 Strategies</h3>
								<p> Agile Development, DevOps, Test-Driven Development (TDD) Continuous Integration/Continuous Deployment (CI/CD) Microservices Architecture </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-search4"></i>
							</div>
							<div class="fh5co-text">
								<h3>Essential Tools and Technologie</h3>
								<> We leverage the latest tools and technologies, including Python, Django, Docker, and Kubernetes, to build robust and scalable software solutions tailored to your business needs. Our expertise ensures that you have the best technical foundation for your projects. </p>
							</div>
						</div>
					</div>

					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-paperplane"></i>
							</div>
							<div class="fh5co-text">
								<h3>Client Success Stories</h3>
								<p>Our software engineering solutions have empowered businesses across various industries. Explore our case studies to see how we’ve successfully tackled complex challenges, delivered innovative solutions, and driven measurable success for our clients. </p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="fh5co-feature animate-box" data-animate-effect="fadeInLeft">
							<div class="fh5co-icon">
								<i class="icon-params"></i>
							</div>
							<div class="fh5co-text">
								<h3>Best Practices and Consulting</h3>
								<p>Our team follows industry best practices to ensure the highest quality in software development. We offer consulting services to help you implement these practices in your projects, from coding standards to deployment strategies, ensuring efficiency and success. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="fh5co-narrow-content">
				<h2 class="fh5co-heading animate-box" data-animate-effect="fadeInLeft">Medium Posts</h2>
				<div class="row row-bottom-padded-md">
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://medium.com/@pasej5/the-advantages-and-disadvantages-of-virtual-hybrid-and-in-person-studying-9ffce8302588" class="blog-img"><img src="{% static 'images/img-1.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="#">The Advantages and Disadvantages of Virtual, Hybrid, and In-Person Studying</a></h3>
								<span><small>By Jealous Matsikachando </small> / <small> Software Engineer </small> / <small> <i class="icon-comment"></i> 14</small></span>
								<p>Design must be functional and functionality must be translated into visual aesthetics</p>
								<a href="#" class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://medium.com/@pasej5/the-power-of-perseverance-turning-challenges-into-triumphs-884ecdda20d0" class="blog-img"><img src="{% static 'images/img-2.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="https://medium.com/@pasej5/the-power-of-perseverance-turning-challenges-into-triumphs-884ecdda20d0">The Power of Perseverance: Turning Challenges into Triumphs</a></h3>
								<span><small>By Jealous Matsikachando </small> / <small> Software Engineer </small> / <small> <i class="icon-comment"></i> 14</small></span>
								<p>In the journey of life, challenges are inevitable. It’s our response to these challenges that define our path. One powerful trait that can make all the difference is perseverance.</p>
								<a href="https://medium.com/@pasej5/the-power-of-perseverance-turning-challenges-into-triumphs-884ecdda20d0" class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://medium.com/@pasej5/unveiling-the-ultimate-file-downloader-empowering-you-to-obtain-anything-anywhere-04c8fab312cc" class="blog-img"><img src="{% static 'images/img-3.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="https://medium.com/@pasej5/unveiling-the-ultimate-file-downloader-empowering-you-to-obtain-anything-anywhere-04c8fab312cc">Unveiling the Ultimate File Downloader: Empowering You to Obtain Anything, Anywhere</a></h3>
								<span><small>By Jealous Matsikachando </small> / <small> Software Engineer </small> / <small> <i class="icon-comment"></i> 
								Dec 14, 2023</small></span>
								<p>Design must be functional and functionality must be translated into visual aesthetics</p>
								<a href="https://medium.com/@pasej5/unveiling-the-ultimate-file-downloader-empowering-you-to-obtain-anything-anywhere-04c8fab312cc" class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 col-padding animate-box" data-animate-effect="fadeInLeft">
						<div class="blog-entry">
							<a href="https://medium.com/@pasej5/my-first-postmortem-4f74a9db6af1" class="blog-img"><img src="{% static 'images/img-4.jpg' %}" class="img-responsive" alt="Free HTML5 Bootstrap Template by FreeHTML5.co"></a>
							<div class="desc">
								<h3><a href="https://medium.com/@pasej5/my-first-postmortem-4f74a9db6af1">My first postmortem</a></h3>
								<span><small>By Jealous Matsikachando </small> / <small> Software Engineer </small> / <small> <i class="icon-comment"></i> 
								Nov 12, 2023</small></span>
								<p>Short Summary: On June 15th, 2023, at 8 pm (Eastern Standard Time), an issue emerged in the e-commerce platform’s codebase, resulting in a complete failure of the database connection.</p>
								<a href="https://medium.com/@pasej5/my-first-postmortem-4f74a9db6af1" class="lead">Read More <i class="icon-arrow-right3"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="get-in-touch">
				<div class="fh5co-narrow-content">
					<div class="row">
						<div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
							<h1 class="fh5co-heading-colored">Get in touch</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
							<p class="fh5co-lead">We're Here When You Need Us.</p>
							<p><a href="#" class="btn btn-primary">Learn More</a></p>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>

	<!-- MAIN JS -->
	<script src="{% static 'js/main.js' %}"></script>


	</body>
</html>

