<nav id="main-nav" class="navbar">
  <div class="container">
    <div class="navbar-left">
      <a href="#header" class="brand">JMatsika</a>
    </div>

    <ul id="sidemenu">
      <li><a href="{% url 'about' %}">Who we are</a></li>
      <li><a href="#services">What we do</a></li>
      <li><a href="#portfolio">Our Thinking</a></li>
      <li><a href="#contact">Careers</a></li>
    </ul>
    <div class="navbar-right">
      <a href="#search" class="nav-icon"
        ><i class="fa-solid fa-magnifying-glass"></i> Search</a
      >
      <a href="#contact" class="nav-icon"
        ><i class="fa-solid fa-envelope"></i> Contact</a
      >
      <i class="fa-solid fa-bars" onclick="openmenu()"></i>
    </div>

    <i class="fa-solid fa-bars" onclick="openmenu()"></i>
  </div>
</nav>
