{% load static %}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>JMatsika | Portfolio</title>

    <link
      rel="icon"
      href="{% static 'images/weblogo.png' %}"
      type="image/png"
    />
    <link
      rel="icon"
      href="{% static 'images/weblogo.png' %}"
      type="image/x-icon"
    />

    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="JMatsika" />
    <meta name="author" content="JMatsika" />
    <script src="https://kit.fontawesome.com/3589e26276.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div>
      <header id="header">
        <div class="container">
          <nav>
            <img src="{% static 'images/weblogo.png' %}" />
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <div class="header-text">
            <p>
              Full-Stack Software Engineer | AI Training and Evaluation
              Specialist
            </p>
            <h1>
              Hi, I am <span>Jealous</span><br />
              Matsikachando
            </h1>
          </div>
        </div>
      </header>
    </div>

    <!-----------------About------------------>

    <div id="about">
      <div class="container">
        <div class="row">
          <div class="about-col-1">
            <img src="{% static 'portfolio/images/pic.jpg' %}" />
          </div>
          <div class="about-col-2">
            <h1 class"sub-title">About Me</h1>
            <p>Python programmer, Django specialist, AI Training and Evaluation Specialist.
            Semi-skilled in APIs, JavaScript, MongoDB, MySQL, PostgreSQL, Bootstrap,
            AWS CI/CD, and building secure, responsive web applications. Eager
            to solve real-world challenges through innovative and scalable software
            solutions in a collaborative team setting</p>
            <div class="tab-titles">
              <p class="tab-links active-link" onclick="opentab('skills')"> Skills</p>
              <p class="tab-links" onclick="opentab('experience')"> Experience</p>
              <p class="tab-links" onclick="opentab('education')"> Education</p>
            </div>
            <div class="tab-contents active-tab" id="skills">
              <ul>
                <li><span>UI/UX</span><br>Designing Web/App Interfaces</li>
                <li><span>Web Development</span><br>Web app Development</li>
                <li><span>App Development</span><br>Building APIs</li>
              </ul>
            </div>
            <div class="tab-contents" id="experience">
              <ul>
                <li><span>UI/UX</span><br>Outlier</li>
                <li><span>Web Development</span><br>Fudio</li>
                <li><span>App Development</span><br>Building APIs</li>
              </ul>
            </div><div class="tab-contents" id="education">
              <ul>
                <li><span>UI/UX</span><br>ALX</li>
                <li><span>Web Development</span><br>Web app Development</li>
                <li><span>App Development</span><br>Building APIs</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------Services-------------->

    <div id="services">
      <div class="container">
        <h1 class"sub-title">My Services</h1>
        <div class= services-list>
          <div>
            <i class="fa-solid fa-code"></i>
            <h2>Web Design</h2>
            <p>Built a Python-based Voice Assistant using Speech Recognition, pyttsx3, and NLTK to handle voice commands and deliver spoken responses.</p>
            <a href="#">Learn more</a>
          </div>
           <div>
            <i class="fa-solid fa-crop"></i>
            <h2>UI/UX Design</h2>
            <p>Built a Python-based Voice Assistant using Speech Recognition, pyttsx3, and NLTK to handle voice commands and deliver spoken responses.</p>
            <a href="#">Learn more</a>
          </div> <div>
            <i class="fa-brands fa-app-store"></i>
            <h2>APIs Design</h2>
            <p>Built a Python-based Voice Assistant using Speech Recognition, pyttsx3, and NLTK to handle voice commands and deliver spoken responses.</p>
            <a href="#">Learn more</a>
          </div>
        </div>
      </div>
    </div>

<!-- ----------------portfolio---------------------- -->

<div id="portfolio">
<div class="container">
  <h1 class"sub-title">My Work</h1>
  <div class="work-list">
    <div class="work">
      <img src="{% static 'portfolio/images/pic.jpg' %}" />
      <div class="layer">
        <h3>Fast Social API</h3>
        <p>A fully featured FastAPI-based social media backend with authentication, CRUD operations, validation, and robust database management. This project dives deep into SQL concepts, ORM integration, database migrations, API testing, and deployment.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="work">
      <img src="{% static 'portfolio/images/pic.jpg' %}" />
      <div class="layer">
        <h3>Fast Social API</h3>
        <p>A fully featured FastAPI-based social media backend with authentication, CRUD operations, validation, and robust database management. This project dives deep into SQL concepts, ORM integration, database migrations, API testing, and deployment.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <div class="work">
      <img src="{% static 'portfolio/images/pic.jpg' %}" />
      <div class="layer">
        <h3>Fast Social API</h3>
        <p>A fully featured FastAPI-based social media backend with authentication, CRUD operations, validation, and robust database management. This project dives deep into SQL concepts, ORM integration, database migrations, API testing, and deployment.</p>
        <a href="#"><i class="fa-solid fa-up-right-from-square"></i></a>
      </div>
    </div>
    <a href="#" class="btn">See more</a>
  </div>
</div>

</div>

    <script>
      var tablinks = document.getElementsByClassName("tab-links")
      var tabcontents = document.getElementsByClassName("tab-contents")

      function opentab(tabname){
        for (tablink of tablinks){
          tablink.classList.remove("active-link");
        }
        for (tabcontent of tabcontents){
          tabcontent.classList.remove("active-tab");
        }
        event.currentTarget.classList.add("active-link");
        document.getElementById(tabname).classList.add("active-tab")
      }

    </script>
  </body>
</html>
