{% load static %}
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>JMatsika | Portfolio</title>
    <link
      rel="icon"
      href="{% static 'images/weblogo.png' %}"
      type="image/png"
    />
    <link
      rel="icon"
      href="{% static 'images/weblogo.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="JMatsika" />
    <meta name="author" content="JMatsika" />
  </head>
  <body>
    <div>
      <header id="header">
        <div class="container">
          <nav>
            <img src="{% static 'images/weblogo.png' %}" />
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Portfolio</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
          <div class="header-text">
            <p>Software Engineer</p>
            <h1>Hi, I am Jealous from Zimbabwe</h1>
          </div>
        </div>
      </header>
    </div>
  </body>
</html>
