<!DOCTYPE html>
<html class="no-js">
  <head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>JMatsika | Portfolio</title>
    <link
      rel="icon"
      href="{% static 'images/weblogo.png' %}"
      type="image/png"
    />
    <link
      rel="icon"
      href="{% static 'images/weblogo.png' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'portfolio/css/style.css' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="JMatsika" />
    <meta name="author" content="JMatsika" />
  </head>
  <body>
    <div>
      <header id="header">
        <!-- Your content goes here -->
      </header>
    </div>
  </body>
</html>
