# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
env/

# Django
*.log
*.pot
*.py[co]
*.mo
*.swp
media/
staticfiles/

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
