body {
  background-color: #080808;
  color: #ffffff;
}
#header {
  width: 100%;
  height: 100vh;
  background: url('../images/office_pic.jpg');
  background-size: cover;
  background-position: center;
}
